@import "abstracts/mixins";
@import "abstracts/variables";
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $main-clr;
    @include flexCenter(column);
    font-family: $main-font;
    .errorMsg {
        text-align: center;
        color: white;
        a {
            border: 2px solid black;
            background-color: white;
            padding: 1rem;
            border-radius: 2rem;
        }
    }
    #logoutBtn {
        align-self: flex-end;
        a {
            color: white;
            font-size: 14px;
            font-weight: 300;
            i {
                position: relative;
                top: 5px;
                margin: 1rem;
                font-size: 28px;
            }
        }
    }
    h1 {
        text-align: center;
        font-size: 40px;
        color: white;
        margin: 0;
    }
    .accountHeading {
        margin-top: 2rem;
    }
    h2 {
        color: white;
        font-weight: 300;
    }
    h3 {
        color: white;
    }
    #addTaskForm {
        width: 100%;
        @include flexCenter(row);
        #addTaskBtn {
            @include buttonStyle;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            font-size: 28px;
        }
        #taskInput {
            @include inputStyle;
        }
    }
    a {
        text-decoration: none;
        color: black;
        font-family: $main-font;
    }
    #list {
        height: 70%;
        width: 90%;
        background-color: white;
        border-radius: 50px;
        box-shadow: $shadow;
        @include flexCenter(column);
        padding: 5% 0 5% 0;
        #sortBtnWrapper,
        .sortBtn {
            font-weight: 300;
            font-size: 13px;
        }
        #sortBtnWrapper {
            margin: 1rem 0 1rem 0;
        }
        .sortBtn:hover {
            color: $alt-clr;
        }
        .taskRow {
            border-bottom: 1px solid rgba(175, 176, 177, 0.215);
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: 1rem;
            .task {
                display: flex;
                width: 70%;
                #taskName,
                #taskDate {
                    font-family: $main-font;
                    font-weight: $fw-light;
                }
                #taskDate {
                    font-size: 11px;
                    color: $alt-clr;
                    margin-top: 5px;
                }
                #nameDateWrapper {
                    display: flex;
                    flex-direction: column;
                    margin: 0 1rem 1rem 1rem;
                }
                #editBtn {
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 2px solid $accent-clr;
                    border-radius: 50%;
                    @include flexCenter(row);
                    font-size: 0.8rem;
                    i:hover {
                        color: $accent-clr;
                    }
                }
                #editForm {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    #checkBtn {
                        font-size: 1rem;
                        background-color: white;
                        color: limegreen;
                        border: none;
                    }
                    input {
                        border: none;
                        font-size: 16px;
                        font-family: $main-font;
                        font-weight: $fw-light;
                        margin: 0 0 2rem 0.8rem;
                    }
                }
            }
            #deleteBtn,
            #backBtn {
                font-size: 14px;
                i:hover {
                    color: $alt-clr;
                }
            }
        }
        .paginationBtn {
            font-size: 1.5rem;
            color: $main-clr;
            i:hover {
                color: $alt-clr;
            }
        }
    }
}

@import "pages/login";
@import "pages/register";
@import "pages/resetPass";
@import "pages/sendEmail";
@import "pages/emailSent";
// Media queries //
@media screen and(min-width: 768px) {
    body {
        #list {
            width: 80%;
        }
    }
}

@media screen and(min-width: 992px) {
    body {
        #addTaskForm {
            #taskInput {
                width: 40%;
            }
        }
        #list {
            width: 50%;
        }
    }
}