<!DOCTYPE html>
<html lang="en">

<%- include('include/_head') %>

    <body>

        <h1 class="accountHeading">Sign in to handle tasks.</h1>

        <form class="accountForm" action="/login" method="post">

            <% if (error) { %>
                <h3>
                    <%= error %>
                </h3>
                <% } %>

                    <input type="text" name="email" autocomplete="email" placeholder="Email address">

                    <input type="password" name="password" autocomplete="current-password" placeholder="Password">

                    <button type="submit"><i class="fas fa-sign-in-alt"></i></button>

        </form>

        <div class="navLinks">
            <h3>No account?</h3>
            <a href="/register">Click here to <strong>register.</strong></a>



        </div>


    </body>