body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #383737;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif; }
  body .errorMsg {
    text-align: center;
    color: white; }
    body .errorMsg a {
      border: 2px solid black;
      background-color: white;
      padding: 1rem;
      border-radius: 2rem; }
  body #logoutBtn {
    align-self: flex-end; }
    body #logoutBtn a {
      color: white;
      font-size: 14px;
      font-weight: 300; }
      body #logoutBtn a i {
        position: relative;
        top: 5px;
        margin: 1rem;
        font-size: 28px; }
  body h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 0; }
  body .accountHeading {
    margin-top: 2rem; }
  body h2 {
    color: white;
    font-weight: 300; }
  body h3 {
    color: white; }
  body #addTaskForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    body #addTaskForm #addTaskBtn {
      background-color: #8cc4ba;
      color: white;
      border: none;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      box-shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
      cursor: pointer;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      font-size: 28px; }
      body #addTaskForm #addTaskBtn:hover {
        background-color: #68afa3; }
    body #addTaskForm #taskInput {
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      width: 60%;
      box-shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      margin: 1rem 0.5rem 1rem 0.5rem; }
  body a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif; }
  body #list {
    height: 70%;
    width: 90%;
    background-color: white;
    border-radius: 50px;
    box-shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0 5% 0; }
    body #list #sortBtnWrapper,
    body #list .sortBtn {
      font-weight: 300;
      font-size: 13px; }
    body #list #sortBtnWrapper {
      margin: 1rem 0 1rem 0; }
    body #list .sortBtn:hover {
      color: #c9bebe; }
    body #list .taskRow {
      border-bottom: 1px solid rgba(175, 176, 177, 0.215);
      display: flex;
      justify-content: space-between;
      width: 85%;
      margin: 1rem; }
      body #list .taskRow .task {
        display: flex;
        width: 70%; }
        body #list .taskRow .task #taskName,
        body #list .taskRow .task #taskDate {
          font-family: "Roboto", sans-serif;
          font-weight: 300; }
        body #list .taskRow .task #taskDate {
          font-size: 11px;
          color: #c9bebe;
          margin-top: 5px; }
        body #list .taskRow .task #nameDateWrapper {
          display: flex;
          flex-direction: column;
          margin: 0 1rem 1rem 1rem; }
        body #list .taskRow .task #editBtn {
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #8cc4ba;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          font-size: 0.8rem; }
          body #list .taskRow .task #editBtn i:hover {
            color: #8cc4ba; }
        body #list .taskRow .task #editForm {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start; }
          body #list .taskRow .task #editForm #checkBtn {
            font-size: 1rem;
            background-color: white;
            color: limegreen;
            border: none; }
          body #list .taskRow .task #editForm input {
            border: none;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            margin: 0 0 2rem 0.8rem; }
      body #list .taskRow #deleteBtn,
      body #list .taskRow #backBtn {
        font-size: 14px; }
        body #list .taskRow #deleteBtn i:hover,
        body #list .taskRow #backBtn i:hover {
          color: #c9bebe; }
    body #list .paginationBtn {
      font-size: 1.5rem;
      color: #383737; }
      body #list .paginationBtn i:hover {
        color: #c9bebe; }

body .accountForm {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  body .accountForm input {
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    box-shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 1rem 0.5rem 1rem 0.5rem; }
  body .accountForm button {
    margin: 1rem;
    background-color: #8cc4ba;
    color: white;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    box-shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 15px;
    font-size: 14px; }
    body .accountForm button:hover {
      background-color: #68afa3; }

body .navLinks {
  margin: 5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  body .navLinks a {
    color: white; }
    body .navLinks a strong {
      color: #c9bebe; }
      body .navLinks a strong:hover {
        color: grey; }

@media screen and (min-width: 768px) {
  body .accountForm {
    width: 70%; } }

@media screen and (min-width: 992px) {
  body .accountForm {
    width: 50%; } }

@media screen and (min-width: 768px) {
  body #list {
    width: 80%; } }

@media screen and (min-width: 992px) {
  body #addTaskForm #taskInput {
    width: 40%; }
  body #list {
    width: 50%; } }
