// COLOR VARIABLES //
$main-clr: rgb(56, 55, 55);
$alt-clr: #c9bebe;
$accent-clr: rgb(140, 196, 186);
// OTHER VARIABLES //
$main-font: 'Roboto',
sans-serif;
$shadow: 9px 7px 38px -4px rgba(0, 0, 0, 0.87);
$fw-light: 300;